# ============================
# Python
# ============================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
venv/
env/

# ============================
# React / Node
# ============================

node_modules/

dist/

coverage/

# ============================
# Environment
# ============================

.env
.env.*

!.env.example

# ============================
# IDE
# ============================

.vscode/
.idea/

# ============================
# OS
# ============================

.DS_Store
Thumbs.db

# ============================
# Logs
# ============================

logs/
*.log

# ============================
# Uploads
# ============================

backend/uploads/
backend/reports/

# ============================
# Database
# ============================

*.db
*.sqlite3

# ============================
# AI Models
# ============================

models/**/*.pth
models/**/*.pt
models/**/*.onnx

# ============================
# Dataset
# ============================

datasets/

# Keep folder
!datasets/.gitkeep

# ============================
# Firebase
# ============================

serviceAccountKey.json

# ============================
# Build
# ============================

build/

.cache/

# ============================
# Chrome Extension Build
# ============================

extension/dist/